.markjar {
	white-space: preserve;
	word-wrap: break-word;

	* {
		box-sizing: border-box;
	}
	.mj-line {
		min-height: 1lh;
	}
}

.hanging-markers {
	.mj-block {
		display: inline-block;
		text-align: right;
	}

	.mj-hash {
		transition: margin .2s;
	}
	.mj-h1-hash,
	.mj-h2-hash,
	.mj-h3-hash {
		font-family: "Cascadia Code", monospace;
		font-size: .9em;
		font-weight: 600;
	}
	.mj-h1-hash {
		margin-left: -2ch;
	}
	.mj-h2-hash {
		margin-left: -3ch;
	}
	.mj-h3-hash {
		margin-left: -4ch;
	}

	.mj-bullet {
		transition: margin .2s;
	}
	.mj-ol-list-d1 {
		width: 1.1em;
		margin-left: -1.1em;
		padding-right: .1em;
	}
	.mj-ol-list-dx {
		width: 1.6em;
		margin-left: -1.6em;
		padding-right: .1em;
	}
	.mj-ul-list {
		margin-left: -2ch;
		font-family: "Cascadia Code", monospace;
		font-size: .9em;
	}
}
